$dark-fontColor: #000;
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$hightlight-fontColor: #e93b3b;
$bgColor: #fff;
$dark-bgColor: #f6f6f6;
$active-color: #0077ff;
